/* line 3, /Users/brockinit/sudokrew/retrack/assets/sass/pages/events.scss */
.event-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 8, /Users/brockinit/sudokrew/retrack/assets/sass/pages/events.scss */
.event-box__date {
  padding: 0 24px; }

/* line 12, /Users/brockinit/sudokrew/retrack/assets/sass/pages/events.scss */
.event-box__details {
  border-left: 1px solid #D8D8D8;
  padding: 20px; }
