/* line 3, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
.faqs__block {
  margin-bottom: 2rem; }
  /* line 6, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
  .faqs__block > .paragraph {
    margin: 0 0 1.5rem 0; }

/* line 11, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
.faqs__question {
  letter-spacing: 0.01rem; }
  /* line 14, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
  .faqs__question > a {
    color: #4A4A4A;
    text-decoration: none; }
    /* line 18, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
    .faqs__question > a:hover {
      color: #646464; }

/* line 24, /Users/brockinit/sudokrew/retrack/assets/sass/pages/faqs.scss */
.faqs__top-link {
  text-align: right; }
