/* line 3, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.link, .link--dark {
  color: #4A4A4A;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-decoration: none; }
  /* line 10, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .link:active, .link--dark:active, .link:hover, .link--dark:hover, .link:focus, .link--dark:focus {
    color: #646464; }

/* line 17, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.link--accent {
  color: #AD2529;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  text-decoration: none;
  text-transform: uppercase; }
  /* line 25, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .link--accent:active, .link--accent:hover, .link--accent:focus {
    color: #d33237; }

/* line 32, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.link--dark {
  color: #4A4A4A; }
  /* line 36, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .link--dark:active, .link--dark:hover, .link--dark:focus {
    color: #646464; }

/* line 43, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.link--light {
  color: #B1B1B1;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-decoration: none; }
  /* line 50, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .link--light:active, .link--light:hover, .link--light:focus {
    color: #bebebe; }

/* line 57, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.button, .button--transparent {
  background: #00204C;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase; }
  /* line 69, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .button:hover, .button--transparent:hover {
    background: #002b66; }
  /* line 73, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
  .button.button--disabled, .button--disabled.button--transparent {
    background: #B1B1B1;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
    cursor: default; }

/* line 80, /Users/brockinit/sudokrew/retrack/assets/sass/base/links.scss */
.button--transparent {
  background: transparent;
  border: 1px solid #FFFFFF; }
