.contact-block {
  margin-top: 1rem;

  &--base-style {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0.25rem 0;
  }

  &--title {
    @extend .contact-block--base-style;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem
  }

  &--name {
    @extend .contact-block--base-style;
  }

  &--phone {
    @extend .contact-block--base-style;
  }

  &--email {
    @extend .contact-block--base-style;
  }
}
