@import '../base/colors';

.forum-card {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  margin: 0 16px 16px 0;
  padding: 20px;

  &--action-item {
    @extend .forum-card;
    border-left: 0.5rem solid $color-main;

    &-title{
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }

  &--locked {
    @extend .forum-card;
    border-left: 0.5rem solid $color-grey;

    &-title{
      color: $color-accent;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }
}
