@import '../base/colors';
@import '../utils/media-queries';

.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(74,74,74,0.6);
  box-shadow: 0 0 0.625rem 0 rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 999;

  &__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 75rem;
    padding: 0.5rem 1.5rem 0 1.5rem;
    list-style: none;

    @include min-breakpoint(large){
      align-items: center;
      flex-flow: row nowrap;
      padding: 0.5rem 0;
    }

  }

  .nav__left {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .nav__menu-icon {
    display: inline-block;
    height: 0.5rem;
    width: 1.75rem;
    border-top: 0.125rem solid $color-white;
    border-bottom: 0.125rem solid $color-white;
    cursor: pointer;

    @include min-breakpoint(large){
      display: none;
    }

  }

  .nav__right {
    flex-flow: column nowrap;
    margin: 0;
    padding-left: 0;
    display: none;

    @include min-breakpoint(large){
      display: inline-block;
    }

    &-show {
      display: flex;
    }

    &-hide {
      display: none;

    }

  }

  .nav__item {
    display: inline-block;
    position: relative;
    padding: 0.875rem 0;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    line-height: 1.5rem;
    text-transform: uppercase;

    &-hover {

      &:hover > a {
        color: $color-grey-dark;
      }

      @include min-breakpoint(large){

        &:after {
          position: absolute;
          bottom: 0;
          width: 0;
          height: 0.125rem;
          background: $color-grey-dark;
          content: "";
          transition: 0.3s all ease-out;
        }

        &:hover {

          &:after {
            width: 100%;
          }

        }

      }

    }


    @include min-breakpoint(large){
      margin: 0 0.75rem;
      padding: 0;
    }

    & > a {
      color: $color-white;
    }

  }

  .nav__logo-container {
    align-items: center;
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    max-width: 19.25rem;

    img {
      display: block;
      width: 3.375rem;
    }

    span {
      display: block;
      margin-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

  }

}
