@import '../utils/media-queries';

.icon-list {
  display: inline-flex;
  flex-flow: row wrap;
  margin-bottom: 5rem;
  margin-top: 9rem;
  max-width: 50rem;

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    flex: 1 1 30%;

    @include min-breakpoint(large){
      flex-basis: 15%;
      overflow: hidden;
    }

    > img {
      width: 50%;

      @include min-breakpoint(large){
        width: 75%;
      }

    }

  }

  &__text {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    cursor: crosshair;

    @include min-breakpoint(large){
      padding-bottom: 1rem;
    }

    &--hwn {
      padding-bottom: 0;
      transition: 0.35s all ease;

      &:hover {
        opacity: 0;

        & ~ .icon-list__text--eng {
          margin-top: -1.25rem;
          opacity: 1;
        }

      }

    }

    &--eng {
      font-size: 0.75rem;
      opacity: 0;
      transition: 0.35s all ease;
      transition-delay: 0.15s;
    }

  }

}
