@import '../base/colors';
@import '../utils/media-queries';

.section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &--hero {
    min-height: 90vh;
    background: #333;
    color: $color-white;
    text-align: center;
  }

  &--kukui-pattern {
    background: url("../images/kukui-leaf-pattern.svg") no-repeat;
    background-size: 50%;
    background-position: top left;
  }

  &--earth-gradient {
    background-image: linear-gradient(73deg, #5F604A 2%, #8CA2AD 100%);
    background-image: url("../images/kukui-leaf-pattern.svg"), linear-gradient(73deg, #5F604A 2%, #8CA2AD 100%);
    background-position: top right;
    background-size: 100%;
    color: $color-white;
  }

  &--royal-gradient {
    background-image: linear-gradient(-180deg, #06133D 0%, #140323 100%);
    background-image: url("../images/ulu-leaf-pattern.svg"), linear-gradient(-180deg, #06133D 0%, #140323 100%);
    background-position: right bottom;
    background-repeat: no-repeat;
    color: $color-white;
  }

  &__content-block {
    flex-flow: column nowrap;
    height: 100%;
    margin: 0 auto;
    max-width: 48.75rem;
    padding: 9rem 0;
    width: 90%;

    &--hero {
      align-items: center;
      justify-content: center;
    }

    &__heading {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 0.375rem;
      line-height: 3rem;
      text-transform: uppercase;

      &--hero {
        margin-bottom: 0.5rem;
        font-size: 2.75rem;
        letter-spacing: 0.375rem;
        line-height: 3.375rem;
        text-align: center;
        text-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.35);

        @include min-breakpoint(small){
          font-size: 3rem;
          letter-spacing: 0.46875rem;
        }

      }

    }

    &__subheading {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 2.375rem;
      letter-spacing: 0.1875rem;

      &--hero {
        font-size: 1.375rem;
        font-weight: 300;
        letter-spacing: 0.25rem;
        text-align: center;
        text-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.35);
        text-transform: uppercase;
      }

    }

    &__body {
      margin: 0;
      font-weight: 300;
      font-size: 1.375rem;
      line-height: 2.5rem;

      &--hero {
        text-shadow: 0 0 0.75rem 0 rgba(0,0,0,0.35);
      }

    }

  }

  &__content-block--no-top-padding {
    @extend .section__content-block;
    padding-top: 0;
  }

  &__content-block--centered-link-container {
    padding-top: 3rem;
    text-align: center;
  }

}
