$color-main: #101F4F;
$color-main-light: #554d60;
$color-accent: #AD2529;
$color-white: #FFFFFF;
$color-grey: #B1B1B1;
$color-grey-dark: #4A4A4A;
$color-grey-light: #D8D8D8;
$color-blue-dark: #00204C;
