@import 'base';
@import 'colors';

%letterpress {
  font-family: $base-font-family;
  margin: 0;
}

h1 {
  @extend %letterpress;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  @extend %letterpress;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.section__heading {
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
}

.section__subheading {
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  line-height: 1.2rem;
  margin: 0;
  text-transform: uppercase;
}
