@import 'colors';

.link {
  color: $color-grey-dark;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: lighten($color-grey-dark, 10%);
  }
}

.link--accent {
  color: $color-accent;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:hover,
  &:focus {
    color: lighten($color-accent, 10%);
  }
}

.link--dark {
  @extend .link;
  color: $color-grey-dark;

  &:active,
  &:hover,
  &:focus {
    color: lighten($color-grey-dark, 10%);
  }
}

.link--light {
  color: $color-grey;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: lighten($color-grey, 5%);
  }
}

.button {
  background: $color-blue-dark;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
  color: $color-white;
  display: inline-block;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  padding: 0.4rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: lighten($color-blue-dark, 5%);
  }

  &.button--disabled {
    background: $color-grey;
    box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.1);
    cursor: default;
  }
}

.button--transparent {
  @extend .button;
  background: transparent;
  border: 1px solid $color-white;
}

