@font-face {
  font-family: "dinot-light";
  src:url("../fonts/dinot-light-webfont.eot?v=1");
  src:url("../fonts/dinot-light-webfont.eot?v=1#iefix") format("embedded-opentype"),
      url("../fonts/dinot-light-webfont.woff?v=1") format("woff"),
      url("../fonts/dinot-light-webfont.ttf?v=1") format("truetype"),
      url("../fonts/dinot-light-webfont.svg?v=1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
