@import '../base/colors';

.faqs__block {
  margin-bottom: 2rem;

  > .paragraph {
    margin: 0 0 1.5rem 0;
  }
}

.faqs__question {
  letter-spacing: 0.01rem;

  > a {
    color: $color-grey-dark;
    text-decoration: none;

    &:hover {
      color: lighten($color-grey-dark, 10%);
    }
  }
}

.faqs__top-link {
  text-align: right;
}
